extends layout

block content
    include head

    .container
        .row.justify-content-center
            .col-6.text-center
                h1.bg-danger.text-white Error #{status}
                h3 #{message}
        .row.justify-content-center
            .col-6.text-center
                form(method='GET' action='/')
                    button.btn.btn-primary(type='submit') Back to home
