extends layout

block content
    .main
        include header
        .container
            .row
                .col-md-12
                    .error-template
                        h1
                            | Oops!
                        h2
                            | #{status} #{message}
                        .error-details
                            | Sorry, an error has occured, Requested page not found!
                            br
                            br
                            br
                        .error-actions
                            a.btn.btn-primary.btn-lg(href='/')
                                span.glyphicon.glyphicon-home
                                |                         Take Me Home
                            a.btn.btn-default.btn-lg(href="mailto:dm_mouloudi@esi.dz")
                                span.glyphicon.glyphicon-envelope
                                |  Contact Support
