extends layout

block content

  .main
    include header
    .container
      .row
        .col-md-6.col-md-offset-3
          h2.display-6.m-b-2 Reset Password

          form(method='POST' action='/forget')
            div.form-group
              label(for='email') Email:
              input#email.form-control(type='email', placeholder='email' name='email' required="required")
            button.btn.btn-primary(type='submit') submit
