extends layout

block content
 
  .main.container
    include head
    .row
      .col-md-6
      h2 Our impressive features
      ul
        li: a(href="login") Login
        li: a(href="signup") Signup
        li: a(href="restricted") Private area (restricted)
        li: a(href="users") List of users (restricted)
        li: a(href="logout") Logout
