extends layout



block content
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  .main
    include header
    .container
      .row
        .col-md-6.col-md-offset-3
          h1.display-4.m-b-2 Sign Up

          // register form, courtesy of https://teamtreehouse.com/library/creating-a-registration-form-with-pug-jade-2
          form(id="signup" method='POST' action='/signup')
            div.form-group
              label(for='username') Username:
              input#username.form-control(type='text', placeholder='your_login' name='username')
              unless usernameerror == undefined
                div#loginexist.alert.alert-danger.errorDiv L'utilisateur #{usernameerror} existe déjà
              unless logvide == undefined
                div#loginvide.alert.alert-danger.errorDiv Veuillez entrer le nom d'utilisateur
            div.form-group
              label(for='email') Email:
              input#email.form-control(type='email', placeholder='name@email.com' name='email')
              unless mailerror == undefined
                div#emailexist.alert.alert-danger.errorDiv Utilisateur existe déja
              unless mailnotconform == undefined
                div#emailnconforme.alert.alert-danger.errorDiv erreur format de l' adresse email
            div.form-group
              label(for='pw') Password:
              input#pw.form-control(type='password' name='password')
              unless passnotconform == undefined
                div#mdpnconform.alert.alert-danger.errorDiv le mot de passe ne doit contenir que des caractères alphanumériques [majuscule caractère minuscule chiffres ]
            div.form-group
              label(for='pw2') Confirm Password:
              input#pw2.form-control(type='password' name='confirmPassword')
              unless errconfpass == undefined
                div#mdpcrpdpas.alert.alert-danger.errorDiv Les mots de passes ne se correspondent pas
            div.form-group
              div#captcha.g-recaptcha(data-sitekey='6LcO08EUAAAAAB4zHCB7No9dtgKVHlpKNz2gDwtt')
            button#validate.btn.btn-primary(type='submit') Sign up

  
  script(src='js/signupf.js').
